article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* html {
  overflow: hidden;
} */

html {
  height: 100%;
}

body {
  background-color: $greyBGColor;
  background: $primaryBGColor no-repeat;
  font: 18px $primaryFont;
  color: $baseFontColor;
  height: 100%;
}
.wrapper {
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}



